main{
    width: 80%;
    margin: 0 auto;
    background-color: darkgrey;
    
    .albums{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card{
        padding: 1rem;
        background-color: lightgray;
        margin: 1rem;
        img{
            width: 400px;
            height: 400px;
        }
        .card_text{
            text-align: center;
            h1{
                font-size: 1.5rem;
            }
            h2{
                font-size: 1.2rem;
            }
        } 
        }
    }
}